- content_for :bootstrap do
  %div{ data: { bootstrap_example_from_backend: @bootstrap_example_from_backend.to_json } }
.jumbotron
  .container
    %h1= t('hello')
    %p This is a template for a simple Rails app. It includes a set of tools that we tend to use in our projects. Use it as a starting point to create something more unique.
    %p
      = link_to 'https://github.com/ariera/rails-blank-app', class:'btn btn-primary btn-lg' do
        %i.fa.fa-github
        Fork it on Github

    #x-bootstrap-example-from-backend-anchor
.container
  .row
    .col-md-4
      %h2
        %i.fa.fa-rebel
        Locales
      %p
        There are #{I18n.available_locales.length} different locales available
        %ol
          - I18n.available_locales.each do |locale|
            %li
              = link_to locale, url_for(request.query_parameters.merge("#{LocaleAware::LOCALE_PARAM}" => locale)), class:'btn btn-xs btn-default'
        with support for
        %ol
          %li params
          %li user preferences
          %li session
          %li and browser preferences
        Check
        %code LocaleAware
        concern to know more. It has been tested with the help of
        = link_to url_for(controller:"dev", action:"locales") do
          %code DevController
      %p
        %a.btn.btn-default{:href => url_for(controller:"dev", action:"locales"), :role => "button"} View details »
    .col-md-4
      %h2
        %i.fa.fa-pied-piper-alt
        Some small features
      %ul
        %li
          = link_to url_for(controller:"dev", action:"access_denied"), class:'btn btn-xs btn-default' do
            Try it
          %code CanCan::AccessDenied
          errors redirect a user to the frontpage
        %li
          = link_to url_for(controller:"dev", action:"flash_messages"), class:'btn btn-xs btn-default' do
            Try it
          %code flash[:messages]
          are autmatically handeled by the layout

    .col-md-4
      %h2
        %i.fa.fa-paw
        Heading
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      %p
        %a.btn.btn-default{:href => "#", :role => "button"} View details »
  %hr
  %footer
    %p © Company 2014
