!!!
%html
  = head_tags

  %body{class:body_css_classes}
    = bootstrap_data
    = dev_tools

    = render partial:"shared/global_header"

    - if content_for?(:layout_specific)
      = yield(:layout_specific)
    - else
      %main
        = yield

    = render partial:"shared/global_footer"

    = render 'shared/javascript'
